<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated enseignement -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="Enseignement.presentation.EnseignementModelWizardID"
            name="%_UI_EnseignementModelWizard_label"
            class="Enseignement.presentation.EnseignementModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/EnseignementModelFile.gif">
         <description>%_UI_EnseignementModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated enseignement -->
      <editor
            id="Enseignement.presentation.EnseignementEditorID"
            name="%_UI_EnseignementEditor_label"
            icon="icons/full/obj16/EnseignementModelFile.gif"
            extensions="enseignement"
            class="Enseignement.presentation.EnseignementEditor"
            contributorClass="Enseignement.presentation.EnseignementActionBarContributor">
      </editor>
   </extension>

</plugin>
